@font-face {
    font-family: segoe-normal;
    src: url(/assets/fonts/segoe-normal.ttf);
  }

@font-face {
    font-family: segoe-bold;
    src: url(/assets/fonts/segoe-bold.ttf);
}

h1, h2, h3, h4, h5, h6 {font-family: 'segoe-bold';}

p, a, ul, li {font-family: 'segoe-normal';}

.pt-60{padding-top: 60px;}

.pb-60{padding-bottom: 60px;}

.up-font{color: #ef712f;text-transform: uppercase;font-weight: 800;}

.nav-item{margin-right: 25px;}

.btn-orange{background-color: #ef712f !important;
    border-color: #ef712f !important;
    border-radius: 30px !important;
    padding: 2px 15px !important;}

.short-banner{text-align: center;}

.short-banner h4{margin-top: 20px;}

.short-banner p{margin-bottom: 0;}

.banner-content{
    background-image: url(/assets/images/slider-btm-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-bottom: 1px solid #ef712f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: absolute;
    top: -90px;
    padding: 30px 20px;
}

.short-banner.border-right {
    border-right: 1px solid #ef712f3d!important;
}

.ar-delivery{background-image: url(/assets/images/holopundits-bg-01.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 180px;

}

.ar-icons{display: flex;align-items: center;margin-bottom: 20px;}

.ar-icons p{margin-bottom: 0;}

.ar-icons svg{background-color: #1449a0;padding: 15px;
    font-size: 20px;
    border-radius: 35px;
    color: #fff;margin-right: 12px;}

.app-features{background-image: url(/assets/images/app-features-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;}

.app-content p{background-color: #fff;
    padding: 15px 10px;
    border-radius: 30px;
    text-align: center;
    border-bottom: 1px solid #ef712f;
    border-left: 6px solid #ef712f;}

.qr-scan{display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1,1fr);}

.vertical{display: grid;
    grid-gap: 0rem;}

   
    .app-image {
        position: relative;
        width: 100%;
    }
    
    .image__img {
        display: block;
        width: 100%;
        border-radius: 25px;
    }
    
    .image__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
    }
    
    .image__overlay--blur {
        backdrop-filter: blur(5px);
    }
    
    .image__overlay--primary {
        background: #ef712f;
        border-radius: 25px;
    }
    
    .image__overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
    
    .image__overlay:hover {
        opacity: 1;
    }
    
    .image__overlay:hover > * {
        transform: translateY(0);
    }
    
    .image__title {
        font-size: 2em;
        font-weight: bold;
    }
    
    .image__description {
        font-size: 1.25em;
        margin-top: 0.25em;
    }

    .view-content{position: absolute;
        bottom: 0;
        background: #ef712f;
        width: 100%;padding: 10px;border-bottom-right-radius: 25px;border-bottom-left-radius: 25px;
        text-align: center;}

    .view-content a{color: #fff;}

    .view-content p{margin-bottom: 0;}

    .experience-ar{display: flex;margin-bottom: 20px;}

    .ex-image{padding-right: 20px;}

    .enhanced-content{background-color: aliceblue;}

    .col-20{-webkit-box-flex: 0;
        -ms-flex: 20%;
        flex: 20%;
        max-width: 20%;
        padding-right: 10px;
        padding-left: 10px;}

    .customize-icon{text-align: center;background: #fff;
        padding: 20px 10px;margin-bottom: 20px;}

    .customize-icon p{margin-bottom: 0;}

    .customize-icon img{margin-bottom: 25px;width: 150px;}

    .customize-content{background-color: #ef712f38;}

    .button_container {
        position: absolute;
        top: 30%;
        right: 7%;
        height: 10px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
      }
      .button_container:hover {
        opacity: .7;
      }
      .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF;
      }
      .button_container.active .middle {
        opacity: 0;
        background: #FFF;
      }
      .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF;
      }
      .button_container span {
        background: #ef712f;
        border: none;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
      }
      .button_container span:nth-of-type(2) {
        top: 11px;
      }
      .button_container span:nth-of-type(3) {
        top: 22px;
      }
      
      .overlay {
        position: fixed;
        background: #ef712f;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
      }
      .overlay.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
        z-index: 1;
      }
      .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
      }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s;
      }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s;
      }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s;
      }
      .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Varela Round', serif;
        font-weight: 400;
        text-align: center;
      }
      .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
      }
      .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
      }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
      }
      .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
      }
      .overlay ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        transition: .35s;
      }
      
      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }

      .footer-section{background-image: url(/assets/images/footer-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;}

    .footer-content h5, .footer-content p, .footer-content svg{color: #fff;}

    .footer-content svg{background: #000;
        padding: 17px;
        border-radius: 30px;
        font-size: 25px;}

    .footer-content{text-align: center;}

    .footer{align-items: center;}

    .qr-icons{justify-content: center;}